<div class="table-responsive">
  <table>
      <tr>
        <tr>
          <th>Post ID</th>
          <th>Voice</th>
          <th>Post</th>
          <th>Status</th>
          <th>Player</th>
      </tr>
      <tr *ngFor="let post of posts">
        <td>{{post['id']}}</td>
        <td>{{post['voice']}}</td>
        <td>{{post['text']}}</td>
        <td>{{post['status']}}</td>
        <td><audio controls><source src="{{post['url']}}" type='audio/mpeg'>{{post['url']}}</audio></td>
      </tr>
    </table>
</div>
