table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid var(--white);
}

th, td {
    text-align: left;
    padding: 8px;
}
th {
    font-size: 14px;
}
td{
    font-size: 12px;
}

tr:nth-child(even){
    background-color: var(--darkblue);
    color: var(--white);
}

div {
    margin-top: 2%;
}