<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
        <label>Select Voice: 
            <select placeholder="Voice" #voicekey>
                <option>None</option>
                <option *ngFor="let voice of voices" [value]="voice.voicekey">{{voice.voice}}</option>
              </select>
            </label>
        <span id="postIDreturned"></span>
        <button mat-flat-button color="primary" (click)="save(voicekey.value, postText.value)">Say it!</button>  
        <label>{{ message }}</label>    
</div>

<div>
<textarea matInput placeholder="Enter Text" #postText></textarea>
</div>

<div>
<input matInput placeholder="Enter Post Id to Search" #postId> 
<button mat-button color="primary" (click)="search(postId.value)" id="searchButton"><i class="fa fa-fw fa-search"></i></button> 
</div>
<!--Table-->
<app-table [posts]="posts"> </app-table>