<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
        <label>Select Voice: 
            <select placeholder="Voice">
                <option>None</option>
                <option *ngFor="let voice of voices" [value]="voice.voicekey">{{voice.voice}}</option>
              </select>
            </label>
        <span id="postIDreturned"></span>
        <button mat-flat-button color="primary" onclick="save(value, postText)">Say it!</button>      
</div>

<div>
<textarea matInput placeholder="Enter Text" ng-model="postText"></textarea>
</div>

<div>
    <!-- <span id="charCounter">Characters: 0</span> -->
<input matInput placeholder="Enter Post Id to Search" id="postId"> 
<button mat-button color="primary" id="searchButton"><i class="fa fa-fw fa-search"></i></button> 
</div>
<!-- <div> -->
<!--Table-->
<app-table> </app-table>
<!-- <table id="posts">
    <colgroup>
      <col style="width:10%">
      <col style="width:7%">
      <col style="width:45%">
      <col style="width:8%">
      <col style="width:30%">
    </colgroup>
    <tbody>
      <tr>
        <th>Post ID</th>
        <th>Voice</th>
        <th>Post</th>
        <th>Status</th>
        <th>Player</th>
      </tr>
    </tbody>
  </table> -->
<!-- </div> -->
