button {
    margin-left: 1%;
    margin-top: 2%;
	border-radius : 8px;
    cursor:pointer;
    height: 35px;
    text-align: center;
}

textarea {
    width:		80%;
    height: 	10em;
   
  }

div {
    margin-left: 5%;
    margin-top: 2%;
}